/* * ARQUIVO: style.css
 * DESCRIÇÃO: Reset de estilos e posicionamento do canvas.
 */

body {
  margin: 0;
  padding: 0;
  background-color: #1a1a1a; /* Cor de fundo escura para destacar o jogo */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden; /* Impede barras de rolagem */
}

#game-container {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border: 2px solid #444;
}

canvas {
  /* Garante que o pixel art não fique borrado ao redimensionar */
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

input {
  outline: none;
  border: 2px solid #444;
  border-radius: 5px;
  font-family: "Verdana";
}
input:focus {
  border-color: #ffff00;
}
